
#google{
	margin-top:200px;
	}

#google img{
	
	width:280px;
	height:100px;
	margin-bottom:20px;
	display:block

}
.search_bar{
	border: 1px solid #cfcfcf;
	width: 500px;
	height: 25px;
	margin-bottom: 10px;

}
.search_bar:hover{
	
	border: 1px solid #979797;
	
}

.search{
	height: 30px;
	border: 1px solid #bcbcbc;

	
}
.search:hover, .lucky:hover{
	box-shadow: 0px 1px 3px 0px #999;
}
.lucky{
	height: 30px;
	border: 1px solid #bcbcbc;
}
ul{
	font-family: sans-serif;
	font-size: 14px;
	display: block;
	list-style-type: none;
	;
	float:right;
	margin:7px 15px 0 0;
}
li{
	display: inline-block;
	padding-right: 10px;
	
}
a{
	text-decoration: none;
	color: black;

}
a:hover{
	text-decoration: underline;
}
.sign_in{
	border-radius: 2px;
	text-decoration: none;
	background-color: #4386fa;
	color: white;
	padding: 10px 13px;
	text-align: center;

}
